/*************************** 
  Front page -  language selector 
*/

    body {
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 80%;
        margin: 0;
    }
    h1 {}

h2 { 
  font-size: 1.5em; 
  margin-top: 4%;
}

#page{
        background-color: #FFFFFF;
        /*width: 60%;*/
        margin: 0;
        padding: 0;
    }
    #header{
        padding: 6px ;
        text-align: center;
    }
    .header{ background-color: #75103e; color: #FFFFFF; }

#content {
  padding: 4px 0 24px 0;
  text-align: center;
}


#languages_list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3%;
  margin: 3% 0;
}  

#languages_list > div{
  margin: 3% 0;
}

#languages_list a{
  text-decoration: none;
  font-size: 2em;
  color: white;
  background-color: #75103e;
  padding: 10px 24px;
  border-radius: 28px;
}

img#vinyeta_suport{
  max-width: 100%;
}

#footer {
        background: #f9f9f9;
        padding: 10px 20px;
        border-top: 5px #75103e solid;
  font-size: 1.5em;
        text-align: center;
}

#footer a {
  color: #75103e;
}
    
#footer_menu{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3%;
}  
